<mat-card>
    <mat-card-header>
        <mat-card-title>Feedbacks</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="project_name">
                <th mat-header-cell *matHeaderCellDef>project_name </th>
                <td mat-cell *matCellDef="let element"> {{element.project_name}} </td>
            </ng-container>
            <ng-container matColumnDef="project_url">
                <th mat-header-cell *matHeaderCellDef> project_url </th>
                <td mat-cell *matCellDef="let element"> {{element.project_url}} </td>
            </ng-container>
            <ng-container matColumnDef="project_feedback">
                <th mat-header-cell *matHeaderCellDef> project_feedback </th>
                <td mat-cell *matCellDef="let element"> {{element.project_feedback}} </td>
            </ng-container>
            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef> created </th>
                <td mat-cell *matCellDef="let element"> {{element.created}} </td>
            </ng-container>

            <ng-container matColumnDef="modified">
                <th mat-header-cell *matHeaderCellDef> modified </th>
                <td mat-cell *matCellDef="let element"> {{element.modified}} </td>
            </ng-container>

            <ng-container matColumnDef="isValid">
                <th mat-header-cell *matHeaderCellDef> isValid </th>
                <td mat-cell *matCellDef="let element"> {{element.isValid}} </td>
            </ng-container>

            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef> user </th>
                <td mat-cell *matCellDef="let element"> {{element.user}} </td>
            </ng-container>




            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button (click)="deleteFeedback(element.id)" color="secondary">Delete
                        Feedback</button>
                    <button mat-raised-button (click)="selectFeedback(element)" color="secondary">Select
                        Feedback</button>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </mat-card-content>
</mat-card>

<!-- ---------------- -->

<mat-card>
    <mat-card-header>
        <mat-card-title>Create a Feedback</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form #f="ngForm" class="mat-elevation-z8" style="width: 100%; padding: 5px;">

            <mat-form-field>
                <input matInput placeholder="user" name="user" [(ngModel)]="feedback.user" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="project_name" name="project_name" [(ngModel)]="feedback.project_name"
                    required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="project_url" name="project_url" [(ngModel)]="feedback.project_url"
                    required>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <textarea matInput placeholder="project_feedback" name="project_feedback"
                    [(ngModel)]="feedback.project_feedback" required> </textarea>
            </mat-form-field>


        </form>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button *ngIf="!feedback.id" (click)="createFeedback(f)" color="primary">Save
            Feedback</button>
        <button mat-raised-button *ngIf="feedback.id" (click)="updateFeedback(f)" color="primary">Update
            Feedback</button>
        <button mat-raised-button (click)="newFeedback()" color="primary">New..</button>

    </mat-card-actions>
</mat-card>